<nav class="navbar navbar-expand-lg navbar-light bg-transparent container-fluid justify-content-between">

  <a tabindex="0" class="navbar-brand" href="#"><img class="img-fluid"
      src="https://res.cloudinary.com/silva/image/upload/v1590965396/cyberpeacecorps.png" alt="" srcset=""
      width="85"></a>

  <div>
    <a tabindex="1" style="margin: 0 0 0 auto;" [routerLink]="['/generate-certificate']">
      <button class="btn btn-primary" type="submit">Generate Certificate</button>
    </a>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="mt-5">
  <p class="text-muted pt-3 pb-3 text-center">© 2020 copyright reserved</p>
</footer>
